:root{
    --color-de-fondo: #f5f5f5;
    --color-de-fondo-menu: #ffffff;
    --color-de-link: #000000;
    --color-de-negritas: #464646;
    
}

body{
    background-color: var(--color-de-fondo);
    font-family: 'Raleway', sans-serif;
    line-height: 1.3;
    color: var(--color-de-negritas);
    margin: 1rem 2rem;
}

/*--- Seccion menu ---*/
.cabecera__contenedor{
    margin-top: 2rem;
}
.cabecera__logo{
    width: 2rem;
    height: auto;
}
.cabecera__titulo{
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 1rem;
}
.navegacion__lista{
    font-size: 1.5rem;
}

/*--- Seccion de presentacion ---*/
.presentacion__foto{
    width: 12.12rem;
    height: auto;
    margin: 2rem 0;
}
.presentacion__titulo{
    font-size: 3rem;
    font-weight: 600;
}
.presentacion__subtitulo{
    margin: 1rem 0;
    font-size: 2rem;
}
.redes{
    font-size: 1.2rem;
}
.redes__img{
    font-weight: bold;
    margin-bottom: 1.2rem;
}
.redes__img img{
    width: 0.8rem;
}

/*--- Seccion Sobre mi ---*/
.sobreMi{
    background-color: #eaf2fd;
    padding: 1rem;
}
.sobreMi__titulo{
    font-weight: 600;
    font-size: 2rem;
    margin: 1rem 0rem;
}
.sobreMi__texto{
    font-size: 1.2rem;
    margin: 1rem 0rem;
    text-align: left;
}
.sobreMi__firma{
    width: 9rem;
    height: auto;
}

/*--- Seccion habilidades ---*/
.habilidades{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.habilidades__titulo{
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}
.habilidades__elemento{
    border: 1px solid white;
    background-color: white;
    margin: 1rem;
    width: 14rem;
    height: 9rem;
    line-height: 3rem;
}
.habilidades__icono{
    width: 2rem;
    margin-left: 1rem;
}
.habilidades__icono-php{
    width: 22%;
}
.habilidades__icono-node{
    width: 22%;
}
.habiliades__nombre{
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 1rem;
}

/*--- seccion aficiones ---*/
.aficiones{
    margin-top: 2rem;
}
.aficiones__titulo{
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
}
.aficiones__elemento{
    border: 1px solid white;
    background-color: white;
    margin: 1rem;
    width: 14rem;
    height: 9rem;
    line-height: 3rem;
}
.aficiones__icono{
    width: 2rem;
    margin-left: 1rem;
}
.aficiones__nombre{
    font-size: 1rem;
    font-weight: 600;
    margin-left: 1rem;
}

/*--- Seccion Formaciones ---*/
.formacion{
    background-color: #eaf2fd;
    padding: 0.5rem;
    margin-top: 2rem;
}
.formacion__titulo{
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    margin: 3rem 0rem 1.2rem 0rem;
}
.formacion__elemento{
    border: 1px solid white;
    background-color: white;
    margin: 1rem;
    width: 23rem;
    height: 17.8rem; 
}
.formacion__elemento--texto{
    margin: 1rem;

}

/*--- Seccion Proyectos ---*/
.proyectos__titulo{
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    margin-top: 1.2rem;
}
.proyectos__imagen{
    width: 60%;
    margin-top: 1rem;
}
.proyectos__nombre{
    font-weight: 600;
    font-size: 1.3rem;
    margin: 0.5rem 0rem;
}
.proyectos__boton{
    width: 7.25rem;
    height: 3.18rem;
    margin: 1rem 1rem 0rem 0rem;
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
    font-size: 1rem;
}
.boton--azul{
    background-color: #2A7AE4;
    color: white;
    font-family: 'Raleway', sans-serif;
}

/*--- Seccion Contactos ---*/
.contacto{
    background-color: #eaf2fd;
    width: 100%;
    margin: 2rem;
    display: flex;
}
.contacto__imagen{
    width: 50%;
    margin: 1rem;
}
.contacto__contenedor{
    width: 50%;
}
.contacto__titulo{
    font-weight: 600;
    font-size: 2rem;
    margin: 1rem;
}
.contacto__texto{
    font-size: 1rem;
    width: 90%;
}
input,textarea{
    border: none;
}
/* para ponerle el border inferior al momento de introducir informacion*/
.contacto__formulario input:focus{
    outline: none;
    border-bottom: 2px solid #2A7AE4;
}
.contacto__formulario textarea:focus{
    outline: none;
    border-bottom: 2px solid #2A7AE4;
}
.contacto__campo{
    width: 90%;
    height: 3.5rem;
    margin: 2rem 0rem;
    padding: 1rem;
    font-size: 1rem;
    border: none;
}
.contacto__campo--textarea{
    height: 8.3rem;
    font-family: 'Raleway', sans-serif;
}
.contacto__boton{
    width: 9rem;
    height: 3.1rem;
    color: white;
    background-color: #2A7AE4;
    border: none;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}
.info{
    text-align: center;
    font-size: 1rem;
}